#bartender-screen {
    position: fixed;
    z-index: 20;
    width: 100%;
    display: grid;
    place-items: center;
    inset: 0;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(2px);
}

#bartender-detail {
    height: 90%;
    overflow-y: scroll;
    width: 90%;
}