#drink-product-screen {
    position: fixed;
    width: 100%;
    display: grid;
    place-items: center;
    inset: 0;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(4px);
}

.drink-product__qnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 20px;

    margin: 2rem 0;

    .qnt__button {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding: .4rem .2rem;
        border-radius: 2rem;

        width: 100%;
        max-width: 140px;
        border: 1px solid #000;
        height: fit-content;
        /* justify-content: center; */
    }
}

.drink-product__value{
    display: flex;
    justify-content: space-between;
}

#drink-product-detail {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #f5f5f5;
    height: 90%;
    overflow-y: scroll;
    width: 90%;

    .drink-product__image-container{
        width: 100%;        
    }

    .drink-product__close{
        max-width: 100px;
        width: 100%;
        align-self: self-end;
        font-size: 1rem;
        padding: .4rem .6rem;
        margin: 1rem 0;

        border: none;
        border-radius: 2rem;

    }

    img {
        border-radius: 1rem;
    }

    a {
        max-width: 320px;
    }

    .drink-product-detail__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .drink-product-detail__content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .drink-product-container {
            max-width: fit-content;
            color: var(--text-col-1);

            button {
                font-size: 1rem;
            }
        }
    }

    a {
        width: 100%;
        padding: .5rem;
        border-radius: 20px;
        text-align: center;
        background-color: #c4c4c4;
    }
}

/* =============================== DESKTOP =============================== */

@media (min-width: 1024px) {
    #drink-product-detail {

        .drink-product-detail__container {
            flex-direction: row;
            justify-content: space-around;
            gap: 1rem;            

            .drink-product-detail__content {
                max-width: 45%;
            }

            .drink-product-container {
                max-width: 35%;
            }
        }

        .drink-product__image-container{
            width: 50%;        
        }
    }

}

/* ANIMATIONS */
.drinkActive {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}