#home{
    display: flex;
    flex-direction: column-reverse;
    padding: 4rem;
    gap: 2rem;
    align-items: center;
    min-height: 100vh;

    a{
        background-color: #03949e;
        border-radius: 20px;
        padding: .6rem;
    }
}

.home-content{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    gap: 20px;
}

.home-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.home-links a{
    width: 100%;
}


