#home{
    display: flex;    
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    a{
        background-color: #03949e;
        border-radius: 20px;
        padding: .6rem;
    }
}

.home-content{
    display: flex;
    flex-direction: column;
    max-width: 520px;
    gap: 20px;
    text-align: center;
}

.home-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    width: 100%;
}

.home-links a{
    width: 100%;
}


