.bartender-container{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    max-width: 320px;
    position: relative;
    color: var(--text-col-2);

    a{
        background-color: aliceblue;
        text-align: center;
        max-width: 176px;
        padding: .4rem;
        border: 0;
        border-radius: 20px;
    }

    img{
        position: relative;
        z-index: 1;
    }
}

.bartender-star-price{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
